<div class="setting-menu js-right-sidebar d-none d-lg-block">
    <div class="account-dropdown__body">
        <div class="account-dropdown__item">
            <a href="#">
                <i class="zmdi zmdi-settings"></i>Settings
            </a>
        </div>
    </div>
</div>